<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏厅</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic-ui/semantic.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='dog.png') }}">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.z01.com/v4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.z01.com/v4/dist/css/zico.min.css">

    <style>
        .box-shadow {
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
        }
        .game-list button{
            margin: 25px 50px;
        }
        .game-list a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>

<!--头-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <img src="{{ url_for('static', filename='dog.png') }}" width="50px" height="50px">
    <h5 class=" ml-4 my-0 mr-md-4 font-weight-normal">每一次人生都会是一次尝试，这次又会怎样呢？</h5>
    <div class="ml-auto my-0 mr-md-auto">
    </div>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">
            {% if current_user.is_authenticated %}
                Hi {{ current_user.username }}!
            {% endif %}
        </a>
    </nav>
    <a class="btn btn-outline-primary" href="{{ url_for('auth.logout') }}">logout</a>
</div>

<div class="container">
    <div class="row">
        <div class="ml-5 mt-5 game-list" style="width: 100%;">
            <button class="btn btn-outline-primary"><a href="/game/game2048" class="p-2 text-danger">game2048</a></button>
            <button class="btn btn-outline-primary"><a href="/game/picture_puzzle" class="p-2 text-danger">picture puzzle</a></button>
            <button class="btn btn-outline-primary"><a href="/game/game2048" class="p-2 text-danger">game2048</a></button>
        </div>

    </div>
</div>

</body>
</html>